/* Weekly Overview */
.weekly-overview-container {
    border: solid 1px blue;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.btn-group {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
}
.add-btn {
    width: 30px;
}
.days {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: thin;
}
.daily-overview-container {
    border: solid 1px green;
    min-height: 250px;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.container-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.daily-day-date-container {
    width: 30%;
}
.daily-task-container {
    width: 70%;
    justify-content: space-evenly;
}
.daily-task {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
.daily-task-date-range {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}

/* Daily Detail */
.daily-detail-container {
    width: 100%;
    border: solid 1px red;
}
.chosen-date {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 100%;
}
.filtered-tasks {
    width: 100%;
    height: 100%;
}

/* Task Modal */
.additional-task-modal {
    position: absolute;
    border: black solid 1px;
    left: 25%;
    top: 42%;
}
.add-task-form {
    display: flex;
    flex-direction: column;
}
.title-description-container {
    display: flex;
    flex-direction: column;
}
.type-input-container {
    display: flex;
    flex-direction: column;
}
.title-input {
    display: flex;
    flex-direction: column;
}
.description-input {
    display: flex;
    flex-direction: column;
}
