/* Application Container */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#root {
    width: 100vw;
    height: 100vh;
}
.App {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
/* Content */
#weekly-calender-container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 10% 90%;
    grid-template-areas:
        "nav nav"
        "daysummary daydetail";
    width: 100%;
    height: 100%;
    max-width: 1700px;
    max-height: 800px;
    overflow: hidden;
}
