/* Application Container */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}
#root {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: rgb(62, 56, 144);
    background: radial-gradient(
        circle,
        rgba(62, 56, 144, 0.5) 0%,
        rgba(62, 56, 144, 0.9) 95%
    );
    position: relative;
}
.App {
    z-index: 100;
    display: grid;
    grid-template-rows: 10% 90%;
    width: 75%;
    min-width: 1000px;
    height: 75%;
    max-height: 950px;
    max-width: 1550px;
    border-radius: 10px;
    box-shadow: 0 1px 10px -2px black, 1px 0 10px -2px black;
    background-color: white;
}
.background-img {
    position: absolute;
}
.title-bar {
    z-index: 200;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 5px -2px gray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: rgb(228, 228, 238);
    background: linear-gradient(
        90deg,
        rgba(217, 217, 246, 0.9) 0%,
        rgba(117, 135, 212, 0.8) 100%
    );
}
.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
/* Content */
#weekly-calender-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    position: relative;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
